*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans",sans-serif;
    font-family: "Familjen Grotesk",sans-serif;
    font-family: "PT Sans",sans-serif;
    font-family: "Exo 2",sans-serif;
}